<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="OnSubmit()">
                          <div class="row">

                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Titre" formControlName="titre">
                                  </mat-form-field>
                              </div>

                          </div>

                          <div class="row">

                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput type="date" placeholder="Date de Publication" formControlName="dateapparition">
                                </mat-form-field>
                              </div>
                          
                          </div>

                          <div class="row">

                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Type" type="text" formControlName="type">
                                </mat-form-field>
                              </div>
                          </div>


                          <div class="row">

                          <p>Auteurs : </p> <br>
                          <mat-list *ngFor="let auteur of auters">
                            <mat-list-item> {{auteur.nom}} </mat-list-item>
                          </mat-list>   

                          <form [formGroup]="form2" (ngSubmit)="OnAdd()">
                          <mat-form-field appearance="fill">
                            <mat-select name="selected" [(ngModel)]="selected" multiple formControlName="auteur">
                                <mat-option *ngFor="let member of members" [value]="member">{{member.nom}}</mat-option>
                            </mat-select>
                    
                          </mat-form-field>
                          <button type="submit" mat-mini-fab color="primary">
                            <mat-icon>+</mat-icon>
                          </button>  
                        </form>                       
                          </div>                    
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>